@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
app-root {
  @apply min-h-screen m-0 block text-slate-800 bg-slate-100;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

// table styles
.table {
  @apply w-fit bg-white border border-slate-100 border-separate;
}

.table th {
  @apply border border-slate-300 bg-slate-50 px-3 py-1.5 text-xs font-medium text-slate-600 uppercase tracking-wider;
}

.table td {
  @apply px-3 py-2 border border-slate-200 rounded-sm text-xs text-slate-800;
}

// button inputs
.btn {
  @apply min-h-1 h-auto px-6 py-2 border border-slate-300 bg-slate-100 hover:bg-white;
}

.btn.btn-error {
  @apply hover:bg-red-500 text-slate-900;
}

button.btn {
  @apply py-3;
}

button.btn-info {
  @apply bg-cyan-600 hover:bg-cyan-700 active:bg-cyan-800;
}

time {
  @apply text-slate-600 text-xs font-medium;
}

// .avatar {
//   @apply ;
// }
// .btn {
//   @apply text-white active:shadow-none relative px-4 py-1.5 text-sm font-medium duration-500;
// }

// .btn-light {
//   @apply bg-white text-slate-800 hover:bg-slate-50 active:bg-slate-100;
// }
// .btn-info {
//   @apply bg-cyan-600 hover:bg-cyan-700 active:bg-cyan-800;
// }

// .btn-primary {
//   @apply bg-blue-600 hover:bg-blue-700 active:bg-blue-800;
// }

// .btn-success {
//   @apply bg-green-600 hover:bg-green-700 active:bg-green-800;
// }

// .btn-warning {
//   @apply bg-yellow-600 hover:bg-yellow-700 active:bg-yellow-800;
// }

// .btn-danger {
//   @apply bg-red-600 hover:bg-red-700 active:bg-red-800;
// }

// .btn-secondary {
//   @apply bg-slate-600 hover:bg-slate-700 active:bg-slate-800;
// }
