<div class="flex flex-col h-screen mx-auto size-full">
  <!-- ========== HEADER ========== -->
  <header class="z-50 flex justify-center w-full py-4 mb-auto">
    <nav class="px-4 sm:px-6 lg:px-8" aria-label="Global">
      <a class="flex-none font-serif text-xl font-semibold border-none shadow-none sm:text-5xl text-inherit bg-inherit"
        href="/" aria-label="Brand">{{ brand }}</a>
    </nav>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content">
    <!-- Hero -->
    <div class="relative overflow-hidden">
      <!-- class="before:absolute before:top-0 before:left-1/2 before:transform before:-translate-x-1/2 before:w-full before:h-full before:background-image before:bg-no-repeat before:bg-top before:bg-cover before:-z-10"> -->
      <div
        class="before:absolute before:top-0 before:left-1/2 before:transform before:-translate-x-1/2 before:w-full before:h-full before:bg-no-repeat before:bg-top before:bg-cover before:-z-10">
        <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24">
          <!-- Announcement Banner -->
          <div class="flex justify-center">
            <a class="inline-flex items-center p-1 text-sm transition bg-white border rounded-full text-slate-800 border-slate-200 gap-x-2 ps-3 hover:border-slate-300"
              href="#">
              New Feature Release - Join our waitlist
              <span
                class="py-1.5 px-2.5 inline-flex justify-center items-center gap-x-2 rounded-full bg-slate-200 font-semibold text-sm text-slate-600">
                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="m9 18 6-6-6-6" />
                </svg>
              </span>
            </a>
          </div>
          <!-- End Announcement Banner -->

          <!-- Title -->
          <div class="max-w-2xl mx-auto mt-5 text-center">
            <h1 class="block text-4xl font-bold text-slate-800 md:text-5xl lg:text-6xl">
              Optimize Your Routes
              <span class="text-transparent bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600">With Ease</span>
            </h1>
          </div>
          <!-- End Title -->

          <div class="max-w-3xl mx-auto mt-5 text-center">
            <p class="text-lg text-slate-600">Our software provides advanced route planning and mapping solutions to
              enhance your logistical efficiency.</p>
          </div>

          <!-- Buttons -->
          <div class="flex justify-center gap-4 mt-8">
            <a class="inline-flex items-center justify-center w-32 px-4 py-2 text-sm font-medium text-center text-white border border-transparent rounded gap-x-1 bg-gradient-to-tl from-blue-600 to-blue-700 hover:from-blue-700 hover:to-blue-600 focus:outline-none focus:ring-1 focus:ring-slate-600"
              href="auth/login">
              Login
              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="m9 18 6-6-6-6" />
              </svg>
            </a>
            <a class="inline-flex items-center justify-center w-32 px-4 py-2 text-sm font-medium text-center text-white border border-transparent rounded gap-x-1 bg-gradient-to-tl from-green-600 to-green-700 hover:from-green-700 hover:to-green-600 focus:outline-none focus:ring-1 focus:ring-slate-600"
              href="auth/register">
              Register
              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="m9 18 6-6-6-6" />
              </svg>
            </a>
          </div>
          <!-- End Buttons -->
        </div>
      </div>
    </div>
    <!-- End Hero -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== FOOTER ========== -->
  <footer class="py-5 mt-auto text-center">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
      <p class="text-sm text-slate-700">Copyright &copy; Blacklist Inc. All Rights Reserved. 2024.</p>
    </div>
  </footer>
  <!-- ========== END FOOTER ========== -->
</div>
