<section class="p-6 overflow-hidden">
	<table class="min-w-full divide-y divide-slate-200">
		<thead>
			<tr>
				<th scope="col" class="px-2 py-2 text-xs font-medium text-gray-600 uppercase text-start">Name</th>
				<th scope="col" class="px-2 py-2 text-xs font-medium text-gray-600 uppercase text-start">Email</th>
				<th scope="col" class="px-2 py-2 text-xs font-medium text-gray-600 uppercase text-start">Phone</th>
				<th scope="col" class="px-2 py-2 text-xs font-medium text-gray-600 uppercase text-start">Address</th>
				<th scope="col" class="px-2 py-2 text-xs font-medium text-gray-600 uppercase text-start">Actions</th>
			</tr>
		</thead>
		<tbody class="divide-y divide-gray-200">
			<tr *ngFor="let item of list()">
				<td class="px-2 py-2 text-sm text-gray-800 whitespace-nowrap">{{ item.name }}</td>
				<td class="px-2 py-2 text-sm text-gray-800 whitespace-nowrap">{{ item.email }}</td>
				<td class="px-2 py-2 text-sm text-gray-800 whitespace-nowrap">{{ item.phone }}</td>
				<td class="px-2 py-2 text-sm text-gray-800 whitespace-nowrap">{{ item.address }}</td>
				<td class="flex gap-1 px-2 py-2 text-sm text-gray-800 whitespace-nowrap">
					<button class="btn btn-sm size-8">
						<img src="assets/icons/edit.svg" alt="Edit">
					</button>
					<button class="btn btn-sm size-8">
						<img src="assets/icons/delete.svg" alt="Delete">
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</section>