<section class="p-6 overflow-hidden">
	<!-- <table class="min-w-full divide-y divide-slate-200 border rounded-md table-zebra"> -->
  <table class="table  table-pin-rows table-pin-cols text-pretty">
		<thead class="">
			<tr class="text-sm font-medium text-slate-500 capitalize">
				<th scope="col" class="px-2 py-2 text-start">Client</th>
				<th scope="col" class="px-2 py-2 text-start">Business Name</th>
				<th scope="col" class="px-2 py-2 text-start">Industry</th>
				<th scope="col" class="px-2 py-2 text-start">Status</th>
				<th scope="col" class="px-2 py-2 text-start">action</th>
			</tr>
		</thead>
		<tbody class="divide-y divide-slate-200">
			<tr *ngFor="let item of list()">
				<td class="px-2 py-2 text-sm text-slate-800">
          <span class="font-medium">{{ item?.contact?.name }}</span>
          <span class="block text-xs text-slate-600 italic">{{ item?.contact?.email }}</span>
        </td>
				<td class="px-2 py-2 text-sm text-slate-800">
          @if (item.website) {
            <a [href]="item?.website" class="font-medium hover:underline hover:text-blue-600" target="_blank">{{ item.name }}</a>
          } @else {
            {{ item.name }}
          }
          <address class="block text-xs text-slate-600">{{item?.site?.address }}</address>
        </td>
        <td class="px-2 py-2 text-sm text-slate-800">
          <span class="border rounded px-3 py-1 text-xs bg-slate-100 font-medium">
            {{ item?.industry?.name ?? "Unassigned"}}
          </span>
        </td>
        <td class="px-2 py-2 text-sm text-slate-800">
          <span class="border rounded px-3 py-1 text-xs bg-slate-100 font-medium">
            {{ item.isActive ? "Active" : "Inactive" }}
          </span>
        </td>
        <td class="px-2 py-2 text-sm text-slate-800">
          <div class="text-xs font-medium flex flex-nowrap gap-x-1">
            <button class="bg-slate-100 border rounded-md px-3 py-1 shadow-sm inline-flex items-center" (click)="onEdit(item)">
              <img src="assets/icons/eye.svg" alt="View" class="size-4">
            </button>
            <button class="bg-slate-100 border rounded-md px-3 py-1 shadow-sm inline-flex items-center" (click)="onDelete(item)">
              <img src="assets/icons/delete.svg" alt="Delete" class="size-4">
            </button>
          </div>
        </td>
			</tr>
		</tbody>
	</table>
</section>
