<header>
	<h2 class="invisible">Locatr</h2>
	<nav>
		<ul>
			<li><a class="btn" href="/">Home</a></li>
			<li><a class="btn" href="/about">About</a></li>
			<li><a class="btn" href="/contact">Contact</a></li>
		</ul>
	</nav>

	<div>

		<div class="avatar">
			<div class="w-10 p-1.5 border rounded-full border-slate-300 cursor-pointer shadow-md shadow-slate-200">
				<img src="assets/icons/user.svg" alt="Avatar">
			</div>
		</div>


	</div>
	<!-- <nav>
		<ul class="invisible">
			<li><a class="btn" href="/login">Login</a></li>
			<li><a class="btn" href="/register">Register</a></li>
		</ul>
	</nav> -->
</header>