node_modules
.history
.husky
.angular
.config
.nx
.vercel
.vscode
locatr-backend-e2e/
locatr-e2e/
locatr-frontend/
.env*
*.log
README.md
vercel.json
migrations.json
.sentryclirc
jest.config.js
jest.presets.js
.node-version
.gitignore

