<aside class="flex flex-col h-full space-y-4 tracking-wide">
	<header class="p-2 tracking-normal prose text-center lg:prose-base">
		<h1>Locatr</h1>
	</header>

	<main>
		<nav>
			<ul class="w-48 font-medium space-y-1 menu rounded-box">
				<li *ngFor="let item of menuItems">
					<a [routerLink]="item.path" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
						class="justify-start border border-slate-200 flex-nowrap text-sm text-nowrap">
            @if (item.icon) {
              <img src="assets/icons/{{ item.icon }}" alt="" class="w-5 h-5">
            }
						<span>{{ item.label }}</span>
					</a>
				</li>
			</ul>
		</nav>
	</main>

	<footer class="flex flex-col justify-between flex-1 mt-10">
		<nav class="h-full">
			<ul class="w-48 font-medium h-full menu rounded-box gap-y-1">
				<li *ngFor="let item of footerItems">
					<a [routerLink]="item.path" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
						class="justify-start border border-slate-200 flex-nowrap text-sm text-nowrap">
            @if (item.icon) {
              <img src="assets/icons/{{ item.icon }}" alt="" class="w-5 h-5">
            }
						<span>{{ item.label }}</span>
					</a>
				</li>
				<li class="mt-auto">
					<a href="auth/logout" class="justify-start border border-slate-200 flex-nowrap text-sm text-nowrap">
						<img src="assets/icons/logout.svg" alt="" class="w-5 h-5">
						<span>Logout</span>
					</a>
				</li>
			</ul>
		</nav>
	</footer>
</aside>