<div class="p-4 flex gap-8 justify-evenly">
  <section class="w-1/3 gap-4 grid grid-cols-1 md:grid-cols-2">
    <app-stat-card [title]="activeClientsTitle()" [value]="activeClientsCount()" [growthRate]="clientsGrowthRate()"></app-stat-card>
    <app-stat-card [title]="totalRoutesTitle()" [value]="totalRoutesCount()" [growthRate]="routesGrowthRate()"></app-stat-card>
    <app-stat-card [title]="activeClientsTitle()" [value]="activeClientsCount()" [growthRate]="clientsGrowthRate()"></app-stat-card>
    <app-stat-card [title]="totalRoutesTitle()" [value]="totalRoutesCount()" [growthRate]="routesGrowthRate()"></app-stat-card>
    <app-stat-card [title]="activeClientsTitle()" [value]="activeClientsCount()" [growthRate]="clientsGrowthRate()"></app-stat-card>
    <app-stat-card [title]="activeClientsTitle()" [value]="activeClientsCount()" [growthRate]="clientsGrowthRate()"></app-stat-card>
    <app-stat-card [title]="totalRoutesTitle()" [value]="totalRoutesCount()" [growthRate]="routesGrowthRate()"></app-stat-card>
    <app-stat-card [title]="activeClientsTitle()" [value]="activeClientsCount()" [growthRate]="clientsGrowthRate()"></app-stat-card>
  </section>
  <section class="w-2/3">
    <app-chart></app-chart>
  </section>
</div>